@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
@import 'variables';
@import 'functions';


*{
	border: 0;
	margin: 0;
	padding: 0;
}

body,
html{
	width: 100%;
	height: 100%;
	display: block;
}

body{
	@include gradient(radial, (#fff, #ccc));
	position: relative;
	@include themes();
}

.main{
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
	@include flex(flex);
	@include align-items(center);
	@include justify-content(center);
}

.clock{
	border: solid 0 $dark_red ;
	max-width: $clock;
	width: $clock;
	min-height: $clock;
	position: relative;
	background-image: url(../img/clock_radioactive.png);
	background-position: 0 -1px;
	background-size: 100%;
	@include box-sizing(border-box);
	@include border-radius(50%);
	@include transition(all 1s ease);
	@include box-shadow((0 0 15px 1px rgba(0,0,0,0), 0 0 4px 1px rgba(0,0,0,0) inset));

	&:after{
		position: absolute;
		@include border-radius(50%);
		content: '';
		border: dotted 2px $black;
		top: 0;
		left: 0;
		right: 0;
		display: none;
		bottom: 0;
		margin: auto;
		width: 80%;
		z-index: 0;
		height: 80%;
		@include transition(all 1s ease);
	}

	&:before{
		position: absolute;
		top: 110%;
		left: 0;
		content: '';
		width: 100%;
		min-height: 50px;
		@include gradient(radial, (#111, transparent, transparent));
		@include transform(rotatex(75deg));
	}

	.point{
		width: ($clock / 10);
		height: ($clock / 10);
		background: $yellow;
		z-index: 3;
		@include border-radius(50%);
		@include transform(scale(.4));
		@include box-shadow(2px 2px 6px $black);
		@include transition(all 1s ease);
	}  

	.minutes{
		height: ($clock / 3 - 10);
		width: 4px;
		background: $black;
		z-index: 1;
		@include transform(translate3D(0, -50%, 0));
		@include transform-origin(bottom center);
		@include border-radius(50% 50% 0 0);
		@include box-shadow(0 0 1px $yellow);
	}

	.hours{
		height: ($clock / 3 - 40);
		width: 4px;
		background: $black;
		z-index: 1;
		@include transform(translate3D(0, -50%, 0));
		@include transform-origin(bottom center);
		@include border-radius(50% 50% 0 0);
		@include box-shadow(0 0 1px $yellow);
	}

	.seconds{
		height: ($clock / 3 );
		width: 2px;
		background: $yellow;
		z-index: 2;
		@include transform(translate3D(0, -50%, 0));
		@include transform-origin(bottom center);
		@include border-radius(50% 50% 0 0);
		@include transition((color 1s ease));
		@include box-shadow(0 0 1px $black);
	}

	.point,
	.hours,
	.minutes,
	.seconds{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}

	.numbers{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		.number{
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			margin: auto;
			display: inline;
			text-align: center;
			width: 35px;
			height: 35px;
			font-size: $clock / 10 + 4;
			font-weight: bold;
			color: $white;
			z-index: 1;
			background: transparent;
			font-family: 'Architects Daughter', cursive;
			@include text-shadow(0 0 1px $black);
			@include transition(all 1s ease);

			&._12{
				bottom: inherit;
				top: 10px;
				left: -3px;
			}

			&._6{
				top: initial;
				bottom: 20px;
				left: -3px;
			}

			&._3{
				left: initial;
				right: 10px;
				top: 0px;
				padding-bottom: 10px;
			}

			&._9{
				right: initial;
				top: 0px;
				padding-bottom: 10px;
				left: 10px;
			}
		}
	}

	.config{
		position: absolute;
		max-width: 50px;
		top: -30px;
		left: -100px;
		cursor: pointer;

		.item{
			position: relative;
			padding: .7rem .7rem .5rem;
			background: $white;
			margin-bottom: .5rem;
			@include border-radius(50%);
			@include transition(all .5s ease);

			&:hover{
				background: $yellow;
				@include box-shadow(0 0 5px #111);

				.submenu{
					width: 110px;
					height: auto;
				}

				img{
					@include animation(rotate 5s infinite linear);
				}
			}

			img{
				max-width: 100%;
			}

			.submenu{
				position: absolute;
				left: 60%;
				background: $white;
				top: 60%;
				overflow: hidden;
				width: 0;
				height: 0;
				z-index: 6;
				@include border-radius(5px);
				@include transition((width .25s ease, height .15s .2s ease));
				@include box-shadow(0 0 5px #111);

				ul{
					list-style: none;

					li{
						padding: .25rem;
						text-align: center;
						border-bottom: solid transparent thin;
						@include transition(all 1s ease);

						&:not(.header){
							&.active,
							&:hover{
								background: $yellow;
								border-color: #323232;
								color: white;
								text-shadow: 0 0 2px $black;

								&:last-child{
									border-bottom-color: transparent;
									border-top-color: black;
								}
							}

							&.active{
								border-top: solid thin black;
							}

							&:last-child{
								border-top: solid thin transparent;
							}
						}

						&.header{
							text-decoration: underline;
							font-weight: bold;
							cursor: default;

							&:hover{
								background: transparent;
							}
						}

					}
				}
			}
		}
	}

	&.small{
		$clock: 200px;
		border: solid 0 $dark_red ;
		max-width: $clock;
		width: $clock;
		min-height: $clock;

		.point{
			width: ($clock / 10);
			height: ($clock / 10);
		}  

		.minutes{
			height: ($clock / 3 - 10);
		}

		.hours{
			height: ($clock / 3 - 25);
		}

		.seconds{
			height: ($clock / 3 );
		}

		.numbers{

			.number{
				width: $clock / 10 + 5;
				height: $clock / 10 + 5;
				font-size: $clock / 10 + 4;

				&._12{
					top: 4px;
					left: 0px;
				}

				&._6{
					bottom: 8px;
					left: 0px;
				}

				&._3{
					right: 6px;
					top: 0px;
					padding-bottom: 5px;
				}

				&._9{
					top: 0px;
					padding-bottom: 5px;
					left: 6px;
				}
			}
		}
	}

	&.big{
		$clock: 400px;
		border: solid 0 $dark_red ;
		max-width: $clock;
		width: $clock;
		min-height: $clock;

		.point{
			width: ($clock / 10);
			height: ($clock / 10);
		}  

		.minutes{
			height: ($clock / 3 - 10);
		}

		.hours{
			height: ($clock / 3 - 40);
		}

		.seconds{
			height: ($clock / 3 );
		}

		.numbers{

			.number{
				width: $clock / 10 + 5;
				height: $clock / 10 + 5;
				font-size: $clock / 10 + 4;

				&._12{
					top: 9px;
					left: 4px;
				}

				&._6{
					bottom: 18px;
					left: 4px;
				}

				&._3{
					right: 15px;
					top: -6px;
					padding-bottom: 10px;
				}

				&._9{
					top: -6px;
					padding-bottom: 10px;
					left: 15px;
				}
			}
		}
	}
}

.current_date{
	position:  absolute;
	top:  15px;
	padding: .51rem 0;
	margin: auto;
	left: 0px;
	right: 0;
	text-align: center;
	border: solid 1px #111;
	font-weight: bold;
	display: inline;
	max-width: 190px;
	min-height: 60px;
	z-index: 10;
	@include border-radius(5px);
	@include transition(all .5s ease);

	&:hover{
		background: white;
	}

	h1,span{
		font-size: 13px;
		color: black;
		font-weight: bold;
	}

	span{
		font-weight: normal;
		color: $yellow;
		@include transition(color 1s ease);
	}
}

@import 'queries';
@import 'keyframes';