@media (max-width: 800px){
	.popup{

		ul{
			padding-left: 0;

			li{
				font-size: 12px;
			}
		}

	}
}
@media (max-width: 680px){
	.popup{
		height: calc(100vh - 100px);
		padding: 1rem;

		h1{
			font-size: 20px;
			margin: 1rem 0;
		}

		ul{
			padding-left: .51rem;
			margin: .5rem 0;
			max-height: 300px;
			width: 100%;
		}

	}
}
@media (max-width: 600px){
	.clock{
		.config{

			ul.size{
				li{
					&:last-child{
						display: none;
					};
				}
			}
		}
	}
}

@media (max-width: 500px){
	.clock{
		.config{
			left: -20px;
		}

		&.small{
			.config{
				left: -60px;
			}
		}
	}
}