@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
* {
  border: 0;
  margin: 0;
  padding: 0; }

body,
html {
  width: 100%;
  height: 100%;
  display: block; }

body {
  background-image: -webkit-radial-gradient(#aaa, #ddd);
  background-image: -khtml-radial-gradient(#aaa, #ddd);
  background-image: -moz-radial-gradient(#aaa, #ddd);
  background-image: -ms-radial-gradient(#aaa, #ddd);
  background-image: -o-radial-gradient(#aaa, #ddd);
  background-image: radial-gradient(#aaa, #ddd);
  position: relative; }
  body.theme2 .clock {
    border-color: #1e88e5; }
    body.theme2 .clock .point,
    body.theme2 .clock .seconds {
      background: #1e88e5; }
    body.theme2 .clock .config:hover {
      background: #1e88e5; }
    body.theme2 .clock .config .submenu ul li.active, body.theme2 .clock .config .submenu ul li:hover {
      background: #1e88e5; }
  body.theme2 .current_date span {
    color: #1e88e5; }
  body.theme3 .clock {
    border-color: #7cb342; }
    body.theme3 .clock .point,
    body.theme3 .clock .seconds {
      background: #7cb342; }
    body.theme3 .clock .config:hover {
      background: #7cb342; }
    body.theme3 .clock .config .submenu ul li.active, body.theme3 .clock .config .submenu ul li:hover {
      background: #7cb342; }
  body.theme3 .current_date span {
    color: #7cb342; }
  body.theme4 .clock {
    border-color: #ff8f00; }
    body.theme4 .clock .point,
    body.theme4 .clock .seconds {
      background: #ff8f00; }
    body.theme4 .clock .config:hover {
      background: #ff8f00; }
    body.theme4 .clock .config .submenu ul li.active, body.theme4 .clock .config .submenu ul li:hover {
      background: #ff8f00; }
  body.theme4 .current_date span {
    color: #ff8f00; }

.main {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center; }

.clock {
  border: solid 15px #c62828;
  max-width: 300px;
  width: 300px;
  min-height: 300px;
  position: relative;
  background-image: -webkit-radial-gradient(#fff, #fff);
  background-image: -khtml-radial-gradient(#fff, #fff);
  background-image: -moz-radial-gradient(#fff, #fff);
  background-image: -ms-radial-gradient(#fff, #fff);
  background-image: -o-radial-gradient(#fff, #fff);
  background-image: radial-gradient(#fff, #fff);
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 1s ease;
  -khtml-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.7), 0 0 4px 1px rgba(0, 0, 0, 0.7) inset;
  -khtml-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.7), 0 0 4px 1px rgba(0, 0, 0, 0.7) inset;
  -moz-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.7), 0 0 4px 1px rgba(0, 0, 0, 0.7) inset;
  -ms-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.7), 0 0 4px 1px rgba(0, 0, 0, 0.7) inset;
  -o-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.7), 0 0 4px 1px rgba(0, 0, 0, 0.7) inset;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.7), 0 0 4px 1px rgba(0, 0, 0, 0.7) inset; }
  .clock:after {
    position: absolute;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    content: '';
    border: dotted 2px #323232;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80%;
    z-index: 0;
    height: 80%; }
  .clock:before {
    position: absolute;
    top: 120%;
    left: 0;
    content: '';
    width: 100%;
    min-height: 50px;
    background-image: -webkit-radial-gradient(#111, transparent, transparent);
    background-image: -khtml-radial-gradient(#111, transparent, transparent);
    background-image: -moz-radial-gradient(#111, transparent, transparent);
    background-image: -ms-radial-gradient(#111, transparent, transparent);
    background-image: -o-radial-gradient(#111, transparent, transparent);
    background-image: radial-gradient(#111, transparent, transparent);
    -webkit-transform: rotatex(75deg);
    -khtml-transform: rotatex(75deg);
    -moz-transform: rotatex(75deg);
    -ms-transform: rotatex(75deg);
    -o-transform: rotatex(75deg);
    transform: rotatex(75deg); }
  .clock .point {
    width: 30px;
    height: 30px;
    background: #c62828;
    z-index: 2;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: scale(0.4);
    -khtml-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4);
    -webkit-box-shadow: 2px 2px 6px #323232;
    -khtml-box-shadow: 2px 2px 6px #323232;
    -moz-box-shadow: 2px 2px 6px #323232;
    -ms-box-shadow: 2px 2px 6px #323232;
    -o-box-shadow: 2px 2px 6px #323232;
    box-shadow: 2px 2px 6px #323232;
    -webkit-transition: all 1s ease;
    -khtml-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .clock .minutes {
    height: 90px;
    width: 4px;
    background: #323232;
    z-index: 1;
    -webkit-transform: translate3D(0, -50%, 0);
    -khtml-transform: translate3D(0, -50%, 0);
    -moz-transform: translate3D(0, -50%, 0);
    -ms-transform: translate3D(0, -50%, 0);
    -o-transform: translate3D(0, -50%, 0);
    transform: translate3D(0, -50%, 0);
    -webkit-transform-origin: bottom center;
    -khtml-transform-origin: bottom center;
    -moz-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    -o-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-border-radius: 50% 50% 0 0;
    -khtml-border-radius: 50% 50% 0 0;
    -moz-border-radius: 50% 50% 0 0;
    -ms-border-radius: 50% 50% 0 0;
    -o-border-radius: 50% 50% 0 0;
    border-radius: 50% 50% 0 0; }
  .clock .hours {
    height: 60px;
    width: 4px;
    background: #323232;
    z-index: 1;
    -webkit-transform: translate3D(0, -50%, 0);
    -khtml-transform: translate3D(0, -50%, 0);
    -moz-transform: translate3D(0, -50%, 0);
    -ms-transform: translate3D(0, -50%, 0);
    -o-transform: translate3D(0, -50%, 0);
    transform: translate3D(0, -50%, 0);
    -webkit-transform-origin: bottom center;
    -khtml-transform-origin: bottom center;
    -moz-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    -o-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-border-radius: 50% 50% 0 0;
    -khtml-border-radius: 50% 50% 0 0;
    -moz-border-radius: 50% 50% 0 0;
    -ms-border-radius: 50% 50% 0 0;
    -o-border-radius: 50% 50% 0 0;
    border-radius: 50% 50% 0 0; }
  .clock .seconds {
    height: 100px;
    width: 2px;
    background: #c62828;
    z-index: 2;
    -webkit-transform: translate3D(0, -50%, 0);
    -khtml-transform: translate3D(0, -50%, 0);
    -moz-transform: translate3D(0, -50%, 0);
    -ms-transform: translate3D(0, -50%, 0);
    -o-transform: translate3D(0, -50%, 0);
    transform: translate3D(0, -50%, 0);
    -webkit-transform-origin: bottom center;
    -khtml-transform-origin: bottom center;
    -moz-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    -o-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-border-radius: 50% 50% 0 0;
    -khtml-border-radius: 50% 50% 0 0;
    -moz-border-radius: 50% 50% 0 0;
    -ms-border-radius: 50% 50% 0 0;
    -o-border-radius: 50% 50% 0 0;
    border-radius: 50% 50% 0 0;
    -webkit-transition: color 1s ease;
    -khtml-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease; }
  .clock .point,
  .clock .hours,
  .clock .minutes,
  .clock .seconds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
  .clock .numbers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .clock .numbers .number {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      display: inline;
      text-align: center;
      width: 35px;
      height: 35px;
      font-size: 34px;
      font-weight: bold;
      color: #323232;
      z-index: 1;
      background: #fff;
      font-family: 'Architects Daughter', cursive; }
      .clock .numbers .number._12 {
        bottom: inherit;
        top: 5px;
        left: -3px; }
      .clock .numbers .number._6 {
        top: initial;
        bottom: 15px;
        left: -3px; }
      .clock .numbers .number._3 {
        left: initial;
        right: 10px;
        top: 0px;
        padding-bottom: 10px; }
      .clock .numbers .number._9 {
        right: initial;
        top: 0px;
        padding-bottom: 10px;
        left: 10px; }
  .clock .config {
    position: absolute;
    max-width: 50px;
    top: -30px;
    left: -100px;
    cursor: pointer;
    background: #fff;
    z-index: 5;
    padding: .7rem .7rem .5rem;
    -webkit-transition: all 0.5s ease;
    -khtml-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
    .clock .config:hover {
      background: #c62828;
      -webkit-box-shadow: 0 0 5px #111;
      -khtml-box-shadow: 0 0 5px #111;
      -moz-box-shadow: 0 0 5px #111;
      -ms-box-shadow: 0 0 5px #111;
      -o-box-shadow: 0 0 5px #111;
      box-shadow: 0 0 5px #111; }
      .clock .config:hover .submenu {
        width: 80px;
        height: 115px; }
      .clock .config:hover img {
        -webkit-animation: rotate 5s infinite linear;
        -khtml-animation: rotate 5s infinite linear;
        -moz-animation: rotate 5s infinite linear;
        -ms-animation: rotate 5s infinite linear;
        -o-animation: rotate 5s infinite linear;
        animation: rotate 5s infinite linear; }
    .clock .config img {
      max-width: 100%; }
    .clock .config .submenu {
      position: absolute;
      left: 60%;
      background: #fff;
      top: 60%;
      overflow: hidden;
      width: 0;
      height: 0;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition: width 0.25s ease, height 0.15s 0.2s ease;
      -khtml-transition: width 0.25s ease, height 0.15s 0.2s ease;
      -moz-transition: width 0.25s ease, height 0.15s 0.2s ease;
      -ms-transition: width 0.25s ease, height 0.15s 0.2s ease;
      -o-transition: width 0.25s ease, height 0.15s 0.2s ease;
      transition: width 0.25s ease, height 0.15s 0.2s ease;
      -webkit-box-shadow: 0 0 5px #111;
      -khtml-box-shadow: 0 0 5px #111;
      -moz-box-shadow: 0 0 5px #111;
      -ms-box-shadow: 0 0 5px #111;
      -o-box-shadow: 0 0 5px #111;
      box-shadow: 0 0 5px #111; }
      .clock .config .submenu ul {
        list-style: none; }
        .clock .config .submenu ul li {
          padding: .25rem;
          text-align: center;
          -webkit-transition: all 1s ease;
          -khtml-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -ms-transition: all 1s ease;
          -o-transition: all 1s ease;
          transition: all 1s ease; }
          .clock .config .submenu ul li.active, .clock .config .submenu ul li:hover {
            background: #c62828;
            color: white;
            text-shadow: 0 0 2px #323232; }

.current_date {
  position: absolute;
  top: 15px;
  background: #fff;
  padding: .51rem 0;
  margin: auto;
  left: 0px;
  right: 0;
  text-align: center;
  border: solid 1px #111;
  font-weight: bold;
  display: inline;
  max-width: 190px;
  min-height: 60px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .current_date span {
    font-weight: normal;
    color: #c62828;
    -webkit-transition: color 1s ease;
    -khtml-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease; }
  .current_date h1, .current_date span {
    font-size: 13px; }

@keyframes rotate {
  0%, 100% {
    -webkit-transform: scale(1) rotate(0);
    -khtml-transform: scale(1) rotate(0);
    -moz-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0); }
  50% {
    -webkit-transform: scale(0.7) rotate(360deg);
    -khtml-transform: scale(0.7) rotate(360deg);
    -moz-transform: scale(0.7) rotate(360deg);
    -ms-transform: scale(0.7) rotate(360deg);
    -o-transform: scale(0.7) rotate(360deg);
    transform: scale(0.7) rotate(360deg); } }
@-webkit-keyframes rotate {
  0%, 100% {
    -webkit-transform: scale(1) rotate(0);
    -khtml-transform: scale(1) rotate(0);
    -moz-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0); }
  50% {
    -webkit-transform: scale(0.7) rotate(360deg);
    -khtml-transform: scale(0.7) rotate(360deg);
    -moz-transform: scale(0.7) rotate(360deg);
    -ms-transform: scale(0.7) rotate(360deg);
    -o-transform: scale(0.7) rotate(360deg);
    transform: scale(0.7) rotate(360deg); } }

/*# sourceMappingURL=main.css.map */
